   /* header */

.main-header {
   text-align: center;
   padding-top: 60px;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
}

.main-header__logo {
   display: block;
   color: #000000;
   margin-bottom: 46px;
}

.main-header__image {
   max-width: 100%;
   height: auto;
}

.main-header__navigation {
   display: block;
   margin-bottom: 47px;
}

.main-header__menu {
   display: flex;
}

.main-header__item {
   margin-right: 49px;
   text-align: center;
}

.main-header__link {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 2px;
   color: #000000;
}

.main-header__link:hover {
   color: #FF7931;
}

   /* headline */

.headline {
   position: relative;
   background-image: url(../img/underwater-hotel.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 133px 0px 48px 0px;
   margin: 0 auto;
   margin-bottom: 44px;
   max-width: 100%;
}

.headline::before {
   content: '';
   position: absolute;
   top: 46px;
   left: 48.4%;
   background-image: url(../img/headline-logo.svg);
   background-repeat: no-repeat;
   background-position: center;
   min-width: 55px;
   min-height: 55px;
}

.headline__link {
   display: block;
}

.headline__title {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 72px;
   line-height: 84px;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-bottom: 139px;
   margin: 0 auto; 
}

.headline__title:hover {
   color: #FF7931;
}

.headline__description {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   color: #FFFFFF;
   max-width: 456px;
   max-height: 64px;
   margin: 0 auto;
}

   /* reviews */

.reviews {
   display: block;
   margin-bottom: 84px;
}

.reviews__title {
   display: block;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 17px;
   line-height: 20px;
   letter-spacing: 2px;
   color: #000000;
   text-align: center;
   margin-bottom: 20px;
}

.reviews__list {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0; 
}

.reviews__item {
   padding-right: 29px;
}

.reviews__image {
   padding-bottom: 20px;
}

.reviews__link {
   display: block;
}

.reviews__image {
   min-width: 100%;
   max-height: auto;
}

.reviews__subtitle {
   padding-bottom: 10px;
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: bolder;
   font-size: 23px;
   line-height: 31px;
   color: #000000;
}

.reviews__subtitle:hover {
   color: #FF7931;
}

.reviews__description {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 150%;
   color: #000000;
}

   /* promo */

.promo {
   display: block;
   background-color: #F7F7F7;
   margin-bottom: 50px;
}

.promo__wrapper {
   display: block;
   background-color: #fff;
   max-width: 707px;
   max-height: 707px;
   margin: 0 auto;
   clip-path: circle(55% at center center);
   padding-top: 33px;
   padding-bottom: 36px;
}

.promo__link {
   display: block;
   margin-bottom: 35px;
}

.promo__title {
   font-family: 'Roboto',sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 17px;
   line-height: 20px;
   letter-spacing: 2px;
   color: #000000;
   text-align: center;
}

.promo__title:hover {
   color: #FF7931;
}

.promo__list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.promo__item:not(:first-child) {
   padding-bottom: 45px;
}

.promo__item:first-child {
   padding-bottom: 24px;
}

.promo__subtitle {
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: bolder;
   font-size: 23px;
   line-height: 31px;
   text-align: center;
   color: #000000;
   padding-bottom: 10px;
}

.promo__subtitle:hover {
   color: #FF7931;
}

.promo__description {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
   color: #000000;
   max-width: 370px;
   max-height: 63px;
}

.promo__button {
   display: flex;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FFFFFF;
   max-width: 170px;
   max-height: 47px;
   background: #FF7931;
   margin: 0 auto;
   padding: 17px 60px 15px 30px;
   fill: currentColor;
}

.promo__button:hover {
   background-color: #ffffff;
   color: #FF7931;
   border: 1px solid #FF7931;
}

.promo__icon {
   min-width: 16px;
   min-height: 16px;
   flex-shrink: 0;
   margin-left: 15px;
}

   /* footer */

.main-footer {
   display: block;
   text-align: center;
   background-color: #575757;
   padding-top: 26px;
}

.main-footer__logo {
   display: block;
   color: #FFFFFF;
}

.main-footer__image {
   margin-bottom: 32px;
}

.main-footer__navigation {
   display: block;
   padding-bottom: 42px;
}

.main-footer__menu {
   display: flex;
   border-bottom: 1px solid #ffffff;
}

.main-footer__item {
   margin-right: 48px;
   padding-bottom: 46px;
}

.main-footer__link {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 2px;
   color: #FFFFFF;
}

.main-footer__link:hover {
   color: #FF7931;
}

   /* social */

.social-list {
   display: flex;
   justify-content: center;
   padding-bottom: 46px;
}

.social__item {
   background-color: #ffffff;
   max-width: 47px;
   max-height: 47px;
   margin-right: 14px;  
}

.social__link {
   display: block;
   padding: 12px 11px;
   margin: 0 auto; 
   color: #575757;
   fill: currentColor;
}

.social__link:hover {
   background-color: #575757;
   color: #ffffff;
   border: 1px solid #ffffff;
}
